<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hero-form</title>
  </head>
  <body>
    <h1>{{name}}</h1>
        <h2>My favorite hero is: {{myHero}}</h2>
        <button (click) = "onClick()">Click Me!</button>
        <input #box value="come on" (keyup.enter) = "onKey(box.value); box.value=''">
        <button (click)="onKey(box.value)">Add</button>
        <ul>
          <li *ngFor="let hero of heroes">{{hero.name}}</li>
          <li>{{box.value}}</li>
        </ul>

        <p>Heroes:</p>
        <ul>
          <li *ngFor="let hero of heroes">
            {{hero.name}}
          </li>
        </ul>
        <p *ngIf="heroes.length > 3">There are many heroes!</p>
        <p>{{name}}</p>
  </body>
</html>
