<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hero-form</title>
  </head>
  <body>
    <h1>Tour of Heroes</h1>
        <button type="button" class="button-small">DashBoard</button>
        <button type="button" class="button-small">Heroes</button>

        <p>
        <button (click) = "onClick()">Click Me!</button>
        <input #box value="come on" (keyup.enter) = "onKey(box.value); box.value=''">
        <button (click)="onKey(box.value)">Add</button>
        </p>

        <p>Heroes:</p>
        <ul>
          <li *ngFor="let hero of heroes" class="hero-list">
            {{hero.name}}
          </li>
        </ul>
        <p *ngIf="heroes.length > 3">There are many heroes!</p>
  </body>
</html>
